{% extends "layout.html" %}

{% block content %}
    <div class="jumbotron">
      <div class="container home">
        <h1>MyFeeling!</h1>
        <p>Just leave your feelings on this website.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Create</h2>
          <p>Create a mood for yourself. Only you have the right to decide whether you are happy today or will be sad. I hope with the help of our site you can decorate your mood.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Speak out</h2>
          <p>Speak out. In today's world, the opportunity to speak out is very underestimated. When we do not have the opportunity to express all the bad things, we are frustrated with those who are dear to us. In joy, we lose emotions from being unable to talk about them. Please, speak out.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Share</h2>
          <p>Share your emotions whenever you want and with whom you want. It helps you to express yourself and not lose yourself. We have introduced a graph of emotions for you now you can watch how they changed.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
    </div>
{% endblock %}