{% extends 'layout.html' %}

{% block title %}Login | {{ block.super }}{% endblock %}

{% block content %}
    <div class="container pt">
        <div class="row">
            <div class="col-md-6">
                <form action="" method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input type="submit" value="Login" class="btn btn-primary">
                </form>
            </div>
            <div class="col-md-6 mt">
                <h3>Record how you're feeling!</h3>
                <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            </div>
        </div>
    </div>

{% endblock %}