{% extends 'layout.html' %}

{% block title %}Logout | {{ block.super }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>You Sure?</h2>
                <form method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input type="submit" value="Logout" class="btn btn-default">
                </form>
            </div>
            <div class="col-md-6">
                <h2>Come back soon</h2>
                <p>This site work best if you see it often</p>
            </div>
        </div>
    </div>
{% endblock %}